* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clock {
  border: solid white 1px;
  padding: 20px 40px;
  font-size: 80px;
  color: white;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clock2 {
  border: solid white 1px;
  padding: 20px 40px;
  font-size: 80px;
  color: white;
}
